<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>10069950777-mjvd695e23nu901mus7f3g1ntl67pech.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10069950777-mjvd695e23nu901mus7f3g1ntl67pech</string>
	<key>API_KEY</key>
	<string>AIzaSyAQDHXJSwcBxaMIbzQVe73KwRwqA4cHbj8</string>
	<key>GCM_SENDER_ID</key>
	<string>10069950777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nosnibor.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>my-recipes-a5503</string>
	<key>STORAGE_BUCKET</key>
	<string>my-recipes-a5503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10069950777:ios:ebd3d47bd206f7b2</string>
	<key>DATABASE_URL</key>
	<string>https://my-recipes-a5503.firebaseio.com</string>
</dict>
</plist>